body{
    background-color: brown;

}



.wrapper{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 136, 0);
}

.grid-container{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: black;
}

.box{
    background-color: white;
    color: red;
    text-align: center;
}

img{
        max-width: 100%;
        max-height: 100%;
}